@use '../../styles/colorVariableMixin.sass' as theme
.badgeContainer
    width: 85vw
    border-radius: 5px
    height: 50px
    display: flex
    margin: 0 auto
    justify-content: space-between
    padding: 12px
    color: theme.$dark-grey-blue

.categoryContainer
    display: flex
    // width: 50%
    gap: 15px

.iconImage
    aspect-ratio: 1/1
    border-radius: 50%
    // margin: 10px

.label
    align-self: center
    font-weight: bolder

.totalFade
    color: grey
